body {
  font-family: "Lato", sans-serif;
  display: block;
  margin: 0 auto;
  border-color: #000;
  text-align: center;
}

.appWrapper {
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  text-align: center;
  padding: 2%;
  overflow: hidden;
  max-width: 500px;
  min-height: 700px;
}

form {
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  color: #11698e;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.header {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 800px;
  border-color: #000;
}

#mainWeather {
  margin-top: 30px;
  font-size: 50px;
}

#tempConverts a {
  font-size: 14px;
  text-decoration: none;
  color: #591cff;
  transition: 200ms ease-in-out;
}

#tempConverts a:hover {
  color: darkorange;
  font-weight: bold;
}

#actual-temp {
  font-weight: 300;
}

#date-temp {
  font-size: 12px;
}

#facts {
  font-size: 10px;
  text-align: left;
}

.forecast {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

img {
  height: 50px;
  width: 50px;
}

ul {
  list-style: none;
}

footer {
  margin: 10px;
}

.table {
  vertical-align: middle;
}
