body {
  font-family: "Lato", sans-serif;
  display: block;
  margin: 0 auto;
  border-color: #000;
  text-align: center;
}

.appWrapper {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 25px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  text-align: center;
  padding: 2%;
  overflow: hidden;
  max-width: 500px;
  min-height: 600px;
}

form {
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  color: #11698e;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.header {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 800px;
  border-color: #000;
}

#mainWeather {
  margin-top: 30px;
  font-size: 50px;
}

#tempConverts p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

#tempConverts a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #591cff;
  transition: 200ms ease-in-out;
}

#tempConverts a:hover {
  color: darkorange;
  font-weight: bold;
}

#actual-temp {
  font-weight: 300;
}

#date-temp {
  margin: 10px;
  font-size: 14px;
  font-family: "Lato", cursive;
}

#facts {
  font-size: 10px;
  text-align: left;
}

.forecast {
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}

img {
  height: 50px;
  width: 50px;
}

#mainIcon {
  height: 100px;
  width: 100px;
}

ul {
  list-style: none;
}

footer a {
  margin: 10px;
  text-decoration: none;
  color: #2ee59d;
}

.table {
  vertical-align: middle;
}

#city-search {
  border-color: #ffffff;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  padding: 10px;
}

#submit-button,
#currentLocation-button {
  background-color: #fff;
  border: none;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

#submit-button:hover,
#currentLocation-button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 3px 3px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
